
* {
    padding: 15px;
    border: 8-px lavender;
    margin: 2px;
    background-color: lavender;
    
    
}

h1 {
    word-spacing: 0.1em;
    text-transform: uppercase;
    font-family:'Taviraj' "Time New Roman", serif;
    color: darkblue;
    font-size: 40px;
    padding-top: 75px;
    text-align: left;
}

h2{
    word-spacing: 0.1em;
    font-family:'Taviraj' "Time New Roman", serif;
    color: cadetblue;
    font-size: 30px;
    text-align: left; 
}

h3{
    font-family:'Taviraj' "Time New Roman", serif;
    text-transform: uppercase;
    color: cadetblue;
    font-size: 22px;
    text-align: left;  
}